// http://colorschemedesigner.com/#
// Hue: 225, R: 4%, B: 64%, G: 38%, RGB: 0B61A4

$main-color: #0B61A4;
$light-color: #3F92D2;
$lighter-color: #66A3D2;
$alt-color: #25567B;
$dark-color: #033E6B;

// Alternative scheme: http://www.colourlovers.com/home/trends/interior-looks/7840/Smith_Brennan_Residence